.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
}

.container h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.nameContainer {
    margin: auto;
}

.name {
    font-weight: 600;
}

.container h1 {
    display: flex;
}

.hello {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: rgb(0, 81, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


.container h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.function {
    font-weight: 600;
}

.container p {
    font-size: 20px;
    font-weight: 500;
}

.cintainerLink {
    margin: 0;
}

.link {
    position: relative;
    margin-top: 20px;
    display: inline-block;
    background-color: black;
    /* Couleur de fond */
    color: #fff;
    /* Couleur du texte */
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.link:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Pseudo-élément pour l'effet de surbrillance */
.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-25deg);
}

/* Animation du pseudo-élément lors du survol */
.link:hover::before {
    animation: slide 0.75s forwards;
}

.containerSocial {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.ligneGrise {
    width: 1px;
    /* Définit la largeur de la ligne */
    height: 100px;
    /* Définit l'épaisseur de la ligne */
    background-color: rgb(163, 161, 161);
    /* Définit la couleur de la ligne */
    margin-right: 80px;
    transform: rotate(-90deg);
}

.iconeGithub {
    height: 20px;
    margin-right: 25px;
}

.iconeLinkedin {
    height: 20px;
    margin-right: 25px;
}

@keyframes slide {
    to {
        left: 150%;
    }
}

.contact {
    display: flex;
    margin-top: 50px;
}

.containercallPhone {
    display: flex;
}

.containerEmail {
    display: flex;
    align-items: center;
}




.contact p {
    font-size: 16px;
    font-weight: 600;
    margin-right: 50px;
}

.contact a {
    font-size: 18px;
    font-weight: 600;
    margin-right: 50px;
}

.iconeCallPhone {
    height: 18px;
    margin-right: 15px;
    margin-left: 98px;
}

.iconeEmail {
    height: 18px;
    margin-right: 15px;
}


@media (max-width: 610px) {

    .contact {
        flex-direction: column;
    }

    .iconeCallPhone {
        margin-left: 0px;
    }

    .containerEmail {
        margin-top: 30px;
    }


}