.footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    max-width: 1500px;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer span {
    font-weight: 600;
}